.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    font-weight: bold;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.red {
    color: #ff0000;
}
.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
}
.thumb {
display:block;
width:240px;
height:240px;
position:relative;
margin-bottom:20px;
margin-right:20px;
float:left;
}

.thumb-wrapper {
    display:block;
    width:100%;
    height:100%;
}

.thumb img {
    width:100%;
    height:100%;
    position:absolute;
    display:block;          
            
}

.thumb .thumb-detail {
    display:block;
    width:100%;
    height:100%;
    position:absolute;          
    background:#fff;
    font-family:arial;
    font-weight:bold;
    font-size:16px;         
}

.thumb .thumb-detail a {
    display:block;
    width:100%;
    height:100%;
    text-transform:uppercase;
    font-weight:bold;   
    color:#333;
    text-decoration:none;       
    font-family: 'Open Sans', sans-serif;
    letter-spacing:-1px;
    padding:10px;   
    font-size:18px;
}       

/*
* Without CSS3
*/
.thumb.scroll {
overflow: hidden;
}   

.thumb.scroll .thumb-detail {
    bottom:-280px;
}


/*
* CSS3 Flip
*/  
.thumb.flip {
-webkit-perspective:800px;      
   -moz-perspective:800px;
    -ms-perspective:800px;              
     -o-perspective:800px;
        perspective:800px;
}

.thumb.flip .thumb-wrapper {
    -webkit-transition: -webkit-transform 1s;
       -moz-transition: -moz-transform 1s;
        -ms-transition: -moz-transform 1s;
         -o-transition: -moz-transform 1s;
            transition: -moz-transform 1s;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;           
        -ms-transform-style: preserve-3d;           
         -o-transform-style: preserve-3d;           
              transform-style: preserve-3d;         
}

.thumb.flip .thumb-detail {
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
         -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);                        
}

.thumb.flip img,
.thumb.flip .thumb-detail {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}

.thumb.flip .flipIt {
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);            
        -ms-transform: rotateY(-180deg);            
         -o-transform: rotateY(-180deg);            
            transform: rotateY(-180deg);            
}